.play:hover {
	color: #d83018;
}

h3 {
	color: #333;
	font-size: 20px;
}

h4 {
	color: #555;
}

.header {
	height: 126px;
}

.scroll-down-instruction, .to-top {
	display: none !important;
}

.play {
	font-size: 20px;
	margin-top: -5px;
	color: #555;
}

#top {
	padding-top: 0px !important;
}

.member {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-position: 50% 0;
}

	.member > div {
		width: 90%;
		overflow: hidden;
		padding: 10% 0;
		margin: 0 auto;
	}

.member-img {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 5px solid #fff;
	margin: 20px auto;
	float: clear !important;
}

.member-desc {
	position: relative;
	width: 90%;
	overflow: hidden;
	padding: 5%;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.9);
	color: #333;
	text-align: center;
}

.sam {
	background: url("../images/brown.png") no-repeat center;
	background-size: cover;
}

.sam-back {
    background: url("../images/yellow-squares.png") 50% 0 repeat fixed;
}

.sahil-back {
    background: url("../images/design-tools.jpg") 50% 0 repeat fixed;
}

.aman-back {
    background: url("../images/red-letters.png") 50% 0 repeat fixed;
}

.mihir-back {
	background: url("../images/blue-science.png") 50% 0 repeat fixed;
}