* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

body {
	text-align: center;
    background: url("../images/back.png") repeat;
}

p {
	font-size: inherit;
	color: #333;
}


span {
	font-size: inherit;
	font-family: inherit;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

i {
	font-style: normal;
}

.text-link:hover {
	color: #d83018;
	cursor: pointer;
}

.blur-back {
	-webkit-filter: blur(12px);
	-moz-filter: blur(12px);
	-ms-filter: blur(12px);
	-o-filter: blur(12px);
	filter: blur(12px);
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 900px) {
	
	.header {
		position: relative;
		width: 100%;
		height: 62px;
		border-bottom: 1px solid #ddd;
		background: rgba(255, 255, 255, 0.9);
	}

	.head-element {
		width: 100%;
	}
	
		.head-element > div {
			padding: 10px 0;
		}
	
	#share-buttons {
		display: none;
	}
	
	h1 {
		margin-top: -20px;
		font-family: 'Pacifico';
		font-size: 30px;
		color: #555;
	}

	h2 {
		font-size: 18px;
		color: #555;
	}
}

@media only screen 
and (min-device-width: 901px) {
	html {
		min-width: 900px;
	}

	.header {
		position: relative;
		width: 100%;
		height: 62px;
		border-bottom: 1px solid #ddd;
		background: rgba(255, 255, 255, 0.9);
	}
	
	.head-element {
		width: 50%;
		margin: 0 auto;
	}
	
		.head-element > div {
			padding: 10px 0;
		}
	
	.share-button-wrapper {
		display: block;
		margin-top: 11px;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	h1 {
		margin-top: -20px;
		font-family: 'Pacifico';
		font-size: 32px;
		color: #555;
	}

	h2 {
		font-size: 18px;
		color: #555;
	}
}

.aman {
	background: url("../images/aman.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sahil {
	background: url("../images/sahil.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.mihir {
	background: url("../images/mihir.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}