* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

body {
	background-color: #3a3232;
	text-align: center;
}

#header {
	position: relative;
	width: 100%;
	overflow: hidden;
    
}

	#header > div {
		 padding: 20px;
	}

h1 {
	font-size: 48px;
	color: #fdfcce;
}

h2 {
	font-size: 20px;
	color: #fdfcce;
}

#anim{
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -180px;
	width: 10px;
	height: 10px;
	z-index: -100;
	background-color: coral;
	-webkit-animation: square-circle 2s .5s infinite alternate ;
}

@-webkit-keyframes square-circle {

    0%{
        border-radius: 0 0 0 0;
        background: coral;
        -webkit-transform:rotate(0deg);
    
    }
    25%{
        border-radius: 50% 0 0 0;
        background: darksalmon;
        -webkit-transform:rotate(45deg);
    }
    50%{
        border-radius: 50% 50% 0 0;
        background: indianred;
        -webkit-transform:rotate(90deg);
    }
    75%{
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        -webkit-transform:rotate(135deg);
    }
    100%{
        border-radius: 50%;
        background: darksalmon;
        -webkit-transform:rotate(180deg);
    }
}

#buttons{

     padding:50px;
}



#buttons button{
   
    display: inline-block; 
    width:50px;
}

#grid div{
    height:50px;
    margin-top: 6px;

}

#grid div div{
    
    width:50px;
    display: inline-block;
    background-color:lightcoral;
}

.round1{
    height:50px;
    width:50px;
    -webkit-animation: square-circle1 0.75s .5s 1  alternate;
     -webkit-animation-fill-mode: forwards;
    
/*
    -webkit-animation-name: square-circle1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
*/
    visibility: visible !important;
    
    
}

@-webkit-keyframes square-circle1 {

    0%{
        border-radius: 0 0 0 0;
        background: coral;
        -webkit-transform:rotate(0deg);
    
    }
    25%{
        border-radius: 50% 0 0 0;
        background: darksalmon;
        -webkit-transform:rotate(45deg);
    }
    50%{
        border-radius: 50% 50% 0 0;
        background: indianred;
        -webkit-transform:rotate(90deg);
    }
    75%{
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        -webkit-transform:rotate(135deg);
    }
    100%{
        border-radius: 50%;
        background: coral;
        -webkit-transform:rotate(180deg);
    }
}


.round2{
    height:50px;
    width:50px;
    -webkit-animation: square-circle2 0.75s .5s 1  alternate;
     -webkit-animation-fill-mode: forwards;
    
/*
    -webkit-animation-name: square-circle1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
*/
    visibility: visible !important;
    
    
}

@-webkit-keyframes square-circle2 {

    0%{
        border-radius: 0 0 0 0;
        background: coral;
        -webkit-transform:rotate(0deg);
    
    }
    25%{
        border-radius: 50% 0 0 0;
        background: darksalmon;
        -webkit-transform:rotate(45deg);
    }
    50%{
        border-radius: 50% 50% 0 0;
        background: indianred;
        -webkit-transform:rotate(90deg);
    }
    75%{
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        -webkit-transform:rotate(135deg);
    }
    100%{
        border-radius: 50%;
        background: #02e4ca;
        -webkit-transform:rotate(180deg);
    }
}


#result{
    margin: 50px;
    color:white;
}
